<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>Request camera access for WebRTC</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Request microphone access for WebRTC</string>

	<key>CFBundleIdentifier</key>
	<string>rs.coco.app</string>
	<key>CFBundleExecutable</key>
    <string>coco</string>
	<key>NSPrefPaneIconLabel</key>
	<string>coco-ai</string>

	<key>LSUIElement</key>
    <true/>

      <key>ITSAppUsesNonExemptEncryption</key>
      <false/>

  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>rs.coco.app</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>coco</string>
      </array>
    </dict>
  </array>
</dict>
</plist>